<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:replace="head :: page_head('Foodstore - customers','tag')" />
    <link rel="stylesheet" type="text/css" th:href="@{/templateStyle.css}" />
    <link rel="stylesheet" th:href="@{/base.css}">
</head>

<body>
    <div class="container-fluid">
        <div th:replace="navigation :: navigation" />

        <div class="alert alert-success text-center mt-2" th:if="${message}">
            [[${message}]]
        </div>

        <div class="text-center mt-2">
            <h2 class="text-center text-dark">Customers Manage</h2>
        </div>


        <div class="table-responsive ">
            <div class="table-wrapper">
                <div class="table-title">
                    <form th:action="@{/customers/page/1}" id="searchForm">
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <div class="row">
                            <div class="col">
                                <div class="search-box">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-search"></i></span>

                                        <input type="text" class="form-control" th:value="${keyword}" name="keyword"
                                            placeholder="Search&hellip;">

                                        <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                                            <i class="fas fa-eraser"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-bordered full-details">
                    <thead>
                        <tr>
                            <th>
                                <th th:replace="fragments :: label-column('/customers','ID','id','tag')" />

                            <th>
                                <th
                                    th:replace="fragments :: label-column('/customers','First Name','firstName','tag')" />
                            </th>
                            <th>
                                <th th:replace="fragments :: label-column('/customers','Last Name','lastName','tag')" />
                            </th>
                            <th>
                                <th th:replace="fragments :: label-column('/customers','Email','email','tag')" />

                            </th>
                            <th>
                                <th th:replace="fragments :: label-column('/customers','City','city','tag')" />

                            <th>
                                <th
                                    th:replace="fragments :: label-column('/customers', 'enabled', 'Enabled', 'none')" />
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${listCustomers}">
                            <td>
                                <td th:replace="fragments :: link-column(${customer.id},'tag')" />
                            </td>
                            <td>
                                <td th:replace="fragments :: link-column(${customer.firstName},'tag')" />
                            </td>
                            <td>
                                <td th:replace="fragments :: link-column(${customer.lastName},'tag')" />
                            </td>

                            <td>
                                <td th:replace="fragments :: link-column(${customer.email},'tag')" />
                            </td>
                            <td>
                                <td th:replace="fragments :: link-column(${customer.city},'tag')" />
                            </td>
                            <td>
                                <div
                                    th:replace="fragments :: status('/customers/' +${customer.id},${customer.enabled},'none')" />
                            </td>
                            <td>
                                <a class="link-detail view" th:href="@{'/customers/detail/' + ${customer.id}}"
                                    title="View details of this customer" data-toggle="tooltip">
                                    <i class="far fa-eye"></i>
                                </a>
                                <div th:replace="fragments :: edit('/customers/edit/' + ${customer.id},'tag')" />
                                <div
                                    th:replace="fragments :: delete('/customers/delete/' + ${customer.id},${customer.id},true,'tag')" />
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="less-details">
                    <div th:each="customer : ${listCustomers}" class="section_container ">
                        <div class="first_section section text-center ">
                            <div class="ml-4">
                                <td th:replace="fragments :: link-column(${customer.id},'tag')" />
                            </div>
                        </div>

                        <div class="second_section section" style="margin-right: 33%;">
                            <div>
                                <td th:replace="fragments :: link-column(${customer.email},'tag')" />
                            </div>
                        </div>

                        <div class="third_section  section ">
                            <div
                                th:replace="fragments :: status('/customers/' +${customer.id},${customer.enabled},'none')" />

                            <div class="icons-action d-flex flex-column">
                                <a class="link-detail" th:href="@{'/customers/detail/' + ${customer.id}}"
                                    title="View details of this customer" data-toggle="tooltip">
                                    <i class="far fa-eye"></i>
                                </a>
                                <div th:replace="fragments :: edit('/customers/edit/' + ${customer.id},'tag')" />
                                <div
                                    th:replace="fragments :: delete('/customers/delete/' + ${customer.id},${customer.id},true,'tag')" />
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="fragments :: pagination('/customers')" />
            </div>
        </div>

        <div class="modal fade" id="detailModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <div th:replace="modal_fragments :: confirm_modal" />

        <!-- footer -->
        <div th:replace="footer :: footer" />
    </div>
    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">
        moduleURL = "[[@{/customers}]]";

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'customer');
            });

            $(".link-detail").on("click", function (e) {
                e.preventDefault();
                linkDetailURL = $(this).attr("href");
                $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
            });
        });
    </script>

</body>

</html>